*{ font-family: Impact; letter-spacing: .1em;color:rgb(57, 155, 160);}
.container {
  text-align: center;
  margin-top: 100px;

}
.present-img {
  cursor: pointer;
}

h1{text-align: center; transform: translateY(2em);}
#likeButton{ background-color:rgb(218, 0, 0);; font-size: 1.7em; color: rgb(255, 255, 255); position: absolute;
top: 10em;left: 8em;}
img{width: 30em; height: 28em;}